body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .mmx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}