body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.cp {
  white-space: pre-wrap;
  overflow: hidden;
}
.bg {
  background-image: url("/static/images/bush.png");
  background-repeat: repeat;
}
.nl {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .mmx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .mmx-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .tmx-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}